<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {{>header}}
        <p>This site is created by BABCHIKH Mohamed</p>
        <h1>HELLO {{name}}, you have {{age}}</h1>
    </body>
</html>